.managerEnterButton{
    -fx-background-color:  #00cc66;
}

.managerEnterButton:hover{
    -fx-background-color:  #00994d;
}

.managerEnterButton:pressed{
    -fx-border-color: DarkGreen;
    -fx-border-width: 2;
}

.managerBackButton{
    -fx-background-color: #0099ff;
}

.managerBackButton:hover{
    -fx-background-color: #0052cc;
}

.managerBackButton:pressed{
    -fx-border-color: DarkBlue;
    -fx-border-width: 2;
}

.closeWindowButton{
    -fx-background-color: Red;
}


.closeWindowButton:hover{
    -fx-background-color:  #cc2900;
}

.closeWindowButton:pressed{
    -fx-border-color: #752424;
    -fx-border-width: 1;
}

.addNewReceptionistButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.addNewReceptionistButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.addNewReceptionistButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.hotelInfoButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.hotelInfoButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.hotelInfoButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.roomsRatingsButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 13;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.roomsRatingsButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.roomsRatingsButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}