.ownerEnterButton{
    -fx-background-color:  #00cc66;
}

.ownerEnterButton:hover{
    -fx-background-color:  #00994d;
}

.ownerEnterButton:pressed{
    -fx-border-color: DarkGreen;
    -fx-border-width: 2;
}

.ownerBackButton{
    -fx-background-color: #0099ff;
}

.ownerBackButton:hover{
    -fx-background-color: #0052cc;
}

.ownerBackButton:pressed{
    -fx-border-color: DarkBlue;
    -fx-border-width: 2;
}

.removeAccountButton{
    -fx-background-color:  #DC143C;
    -fx-text-fill: White;
}

.removeAccountButton:hover{
    -fx-background-color:  #a30f2d;
}

.removeAccountButton:pressed{
    -fx-border-color: #5d091a;
    -fx-border-width: 1;
}

.denyRemovalButton{
    -fx-background-color: #0099ff;
}

.denyRemovalButton:hover{
    -fx-background-color: #0052cc;
}

.denyRemovalButton:pressed{
    -fx-border-color: DarkBlue;
    -fx-border-width: 2;
}

.confirmRemovalButton{
    -fx-background-color:  #DC143C;
    -fx-text-fill: White;
}

.confirmRemovalButton:hover{
    -fx-background-color:  #a30f2d;
}

.confirmRemovalButton:pressed{
    -fx-border-color: #5d091a;
    -fx-border-width: 1;
}

.beginningButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.beginningButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.beginningButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.addHotelAndManagerButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 12;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.addHotelAndManagerButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.addHotelAndManagerButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.addHotelAndManagerButton1{
    -fx-background-color: #eb2d53;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.addHotelAndManagerButton1:hover{
    -fx-background-color: #a30f2d;
}

.addHotelAndManagerButton1:pressed{
    -fx-border-color: #460713;
    -fx-border-width: 1;
}

.addHotelAndManagerButton2{
    -fx-background-color: #00fa9a;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.addHotelAndManagerButton2:hover{
    -fx-background-color: #00995e;
}

.addHotelAndManagerButton2:pressed{
    -fx-border-color: #004d2e;
    -fx-border-width: 1;
}

.backButton{
    -fx-background-color: #0099ff;
}

.backButton:hover{
    -fx-background-color: #0052cc;
}

.backButton:pressed{
    -fx-border-color: DarkBlue;
    -fx-border-width: 2;
}

.addNewManagerButton{
    -fx-background-color:  #00cc66;
}

.addNewManagerButton:hover{
    -fx-background-color: #00994d;
}

.addNewManagerButton:pressed{
    -fx-border-color: DarkGreen;
    -fx-border-width: 2;
}

.addNewHotelAndNewManagerButton{
    -fx-background-color:  #00cc66;
}

.addNewHotelAndNewManagerButton:hover{
    -fx-background-color: #00994d;
}

.addNewHotelAndNewManagerButton:pressed{
    -fx-border-color: DarkGreen;
    -fx-border-width: 2;
}

.addMajorInformationButton{
    -fx-background-color:  #6800b3;
}

.addMajorInformationButton:hover{
    -fx-background-color: #3b0066;
}

.addMajorInformationButton:pressed{
    -fx-border-color: #1e0033;
    -fx-border-width: 2;
}

.addRoomsInformationButton{
    -fx-background-color:  #e68a00;
}

.addRoomsInformationButton:hover{
    -fx-background-color: #995c00;
}

.addRoomsInformationButton:pressed{
    -fx-border-color: #663d00;
    -fx-border-width: 2;
}

.addAdditionalServicesInformationButton{
    -fx-background-color:  #00e6e6;
}

.addAdditionalServicesInformationButton:hover{
    -fx-background-color: #009999;
}

.addAdditionalServicesInformationButton:pressed{
    -fx-border-color: #003333;
    -fx-border-width: 2;
}