.adminEnterButton{
    -fx-background-color:  #00cc66;
}

.adminEnterButton:hover{
    -fx-background-color:  #00994d;
}

.adminEnterButton:pressed{
    -fx-border-color: DarkGreen;
    -fx-border-width: 2;
}

.adminBackButton{
    -fx-background-color: #0099ff;
}

.adminBackButton:hover{
    -fx-background-color: #0052cc;
}

.adminBackButton:pressed{
    -fx-border-color: DarkBlue;
    -fx-border-width: 2;
}

.closeWindowButton{
    -fx-background-color: Red;
}

.closeWindowButton:hover{
    -fx-background-color:  #cc2900;
}

.closeWindowButton:pressed{
    -fx-border-color: #752424;
    -fx-border-width: 1;
}

.adminRegisterButton{
    -fx-text-fill: White;
}

.adminRegisterButton:pressed{
    -fx-text-fill: DarkBlue;
}

.adminRegistrationButton{
    -fx-background-color:  #00cc66;
}

.adminRegistrationButton:hover{
    -fx-background-color: #00994d;
}

.adminRegistrationButton:pressed{
    -fx-border-color: DarkGreen;
    -fx-border-width: 2;
}

.secondaryMenuButton{
    -fx-background-color:  #3366cc;
}

.secondaryMenuButton:hover{
    -fx-background-color: #003399;
}

.secondaryMenuButton > .arrow-button > .arrow {
    -fx-background-color: Black;
}

.beginningButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.beginningButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.beginningButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.headingLabel{
    -fx-text-fill: Black;
}

.addOwnerButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.addOwnerButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.addOwnerButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.ownersQueryButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.ownersQueryButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.ownersQueryButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.managersQueryButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.managersQueryButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.managersQueryButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.receptionistsQueryButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.receptionistsQueryButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.receptionistsQueryButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.customersQueryButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.customersQueryButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.customersQueryButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.messagesButton{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}

.messagesButton:hover{
    -fx-background-color: Khaki;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.messagesButton:focused{
    -fx-background-color: lightgreen;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

