.adminEnterButton:pressed{
    -fx-border-color: DarkBlue;
}

.adminBackButton:pressed{
    -fx-border-color: DarkBlue;
}

.adminRegisterButton{
    -fx-text-fill: White;
}

.adminRegisterButton:pressed{
    -fx-text-fill: DarkBlue;
}